@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url('../../assets/hero-bg7.webp');
  background-size: cover;
  background-position: center;
  flex-direction: column;
  user-select: none;
}

.hero-text {
  font-size: 6rem;
  font-family: "Lobster Two", sans-serif;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  color: #efba9a;
  z-index: 8;
  padding: 0 2rem;
  border-radius: 8px;
}

.hero-spacer {
  position: absolute;
  bottom: 0;
  aspect-ratio: 960/300;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../assets/hero-curve.svg');
}


@media only screen and (max-width: 1024px) {
  .hero-text {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero-text {
    font-size: 2rem;
  }
}
