.admin-container {
  min-height: 100vh;
  background: #D9B99B;
  position: relative;
  padding-bottom: 20rem;
}

.admin-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5rem;
  margin-top: 5rem;

  span {
    display: block;
  }

  .item {
    margin-bottom: 1rem;
  }


}
