.dogs-container {
  height: 90vh;
  background: #FFBF69;
  position: relative;
}

.dogs-spacer {
  position: absolute;
  bottom: 0;
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../assets/dogs-curve.svg');
}

