@font-face {
  font-family: 'Gaby';
  src: url('../../assets/gaby.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.about-container {
  min-height: 90vh;
  background: #CB997E;
  position: relative;
  padding-bottom: 20rem;
}

.about-content {
  display: flex;
  width: 100%;
  padding: 0 5rem;

  .about-header-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .about-header {
      font-family: 'Gaby', sans-serif;
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    .about-text {
      display: flex;
      margin-right: 5rem;
    }
  }

  .about-image {
    display: flex;
    align-items: end;

    img {
      max-width: 100%;
      border-radius: 50%;
      //border: 2px solid #2a231d;
      object-fit: cover;
    }
  }
}

.about-spacer {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  aspect-ratio: 960/300;
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url('../../assets/about-curve2.svg');
}

@media screen and (max-width: 1265px) {
  .about-content {
    flex-direction: column;
    padding: 0 2rem;


    .about-header-text-container {
      .about-text {
        margin-right: 0;
      }
    }
  }
}
