.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  max-width: 60rem;

  .page-header {
    font-family: "Lobster Two", sans-serif;
    font-size: 4rem;
  }

  .painike {
    border: 2px solid black;
    border-radius: 4px;
    min-height: 2.25rem;
    height: auto;
    background: #f1eae2;
    margin-left: 1rem;

    &:hover {
      background: black;
      color: white;
    }

    &:active {
      background: #daae7d;
    }
  }
}

@media only screen and (max-width: 934px) {
  .page-header {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 476px) {
  .header-container {
    margin-bottom: 0.5rem;

    .page-header {
      font-size: 2rem;
    }
  }
}
