.admin-container {
  min-height: 90vh;
  position: relative;
  width: 100%;
}

.admin-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  .dogs-admin-container {
    display: flex;

    .dogs-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 200px;

      .dog-avatar-button {
        display: flex;
        justify-content: space-between;

        .dog-avatar {
          width: 40px;
          height: 40px;
          border: 1px solid black;
          border-radius: 50px;
        }
      }

      .painike {
        margin-bottom: 0.75rem;
      }
    }

    .dogs-admin-edit {
      width: 100%;
      padding-left: 1rem;

      form .items-container {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .items-container {
    display: flex;
    justify-content: space-between;

    .text-items {
      width: 80%;
      padding-right: 4rem;
    }
  }

  span {
    display: flex;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    align-items: center;
  }

  .item {
    margin-bottom: 1rem;

    input {
      padding-left: 0.5rem;
      outline: 2px solid black;
      border: 0;
      border-radius: 4px;
      width: 100%;
      height: 2.25rem;

      &:focus {
        outline: 2px solid #734919;
      }
    }

    input[type='radio'] {
      outline: none;
      width: auto;
      height: auto;
      margin-right: 0.25rem;
    }

    textarea {
      padding-left: 0.5rem;
      outline: 2px solid black;
      border: 0;
      border-radius: 4px;
      width: 100%;
      height: 10rem;

      &:focus {
        outline: 2px solid #734919;
      }

    }

    .image-item {
      padding: 0.5rem 0;

      .image-placeholder {
        width: 400px;
        height: 400px;
        background-image: url('../../assets/alma.jpg');
        background-position: top;
        background-size: cover;
        border-radius: 4px;
        border: 2px solid #886335;
        position: relative;
      }

      .image-placeholder::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(217, 185, 155, 0.7);
      }

      .image-placeholder::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/alma.jpg');
        background-position: top;
        background-size: cover;
        border-radius: 4px;
        z-index: -1;
      }

      img {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        object-fit: cover;
        border: 2px solid black;
      }
    }

    .tox {
      border-radius: 4px;
      outline: 2px solid black;
      border: 0;

      &:focus {
        outline: 2px solid #734919;
      }
    }
  }
}

.painike {
  border: 2px solid black;
  border-radius: 4px;
  min-height: 2.25rem;
  height: auto;
  background: #f1eae2;
  margin-right: 0.5rem;

  &:hover {
    background: black;
    color: white;
  }

  &:active {
    background: #daae7d;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 934px) {
  .dogs-admin-container {
    flex-direction: column;
  }

  .dogs-list {
    max-width: unset !important;
  }

  .image-placeholder {
    max-width: 100% !important;
    max-height: 100% !important;
  }
}

