@font-face {
  font-family: "Lobster Two", sans-serif;
  src: url('../../assets/gaby.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100vw;
  z-index: 9;
  box-shadow: 0 1px 3px 1px rgba(24, 60, 52, 0.16);
  background: url('../../assets/navbar-curve.svg') no-repeat;
  background-size: cover;

  &.center-content {
    display: flex;
    align-items: center;
  }

  .header-left {
    display: inline-flex;
    width: fit-content;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0.25rem;
      height: auto;
      width: 5rem;

      img {
        width: 100%;
        border-radius: 50%;

        &.user {
          border: 1px solid black;
          max-height: 60px;
          max-width: 60px;
          border-radius: 50%;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .header-text {
      font-family: "Lobster Two", sans-serif;
      text-wrap: nowrap;
      font-size: 2rem;
      color: black;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      user-select: none;

      &:hover {
        cursor: pointer;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
        0px -4px 10px rgba(255,255,255,0.3);
      }
    }
  }

  .header-middle {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .nav-item {
      font-family: "Lobster Two", sans-serif;
      display: flex;
      font-size: 1.5rem;
      align-items: center;
      height: 100%;
      user-select: none;
      position: relative;
      overflow: hidden;
      z-index: 1;
      outline: none;

      a {
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
      }

      .active {
        color: black;
      }

      .icon {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        font-size: 4rem;
        overflow: hidden;
        pointer-events: none;
      }

      &:hover {
        cursor: pointer;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
        0px -4px 10px rgba(255,255,255,0.3);
      }
    }
  }

  .header-right {
    margin-right: 1rem;

    .hamburger-menu {
      position: absolute;
      right: 2rem;
      top: 0.75rem;
      font-size: 2rem;

      &:hover {
        cursor: pointer;
      }
    }

    span,
    a {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      text-wrap: nowrap;
      color: #112a25;
      font-size: 14px;

      &:hover {
        color: #112a25;
        text-decoration: underline;
      }

      .right-icon {
        margin-right: 0.25rem;
      }
    }
  }

  .burger-menu {
    position: absolute;
    font-family: "Lobster Two", sans-serif;
    top: 5rem;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 1px 3px 1px rgba(24, 60, 52, 0.16);
    background: rgba(255, 255, 255, 0.5) url('../../assets/navbar-curve.svg') no-repeat;
    background-size: cover;

    &.hidden {
      transform: translateX(100%);
    }

    .burger-item {
      display: flex;
      align-items: center;
      height: 5rem;
      font-size: 1.5rem;
      color: #112a25;
      transition: background-color 0.3s ease;
      border-bottom: 1px solid black;

      .icon {
        font-size: 3rem;
        overflow: hidden;
        pointer-events: none;
        margin-right: 1rem;
      }

      .right-icon {
        margin-right: 0.25rem;
      }

      a {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        color: #000;
        width: 100%;
        height: 100%;
      }

      &:hover {
        background-color: #f3dfd7;
        cursor: pointer;
      }
    }

    .login {
      font-size: 1rem;
    }
  }
}

@media (max-width: 1200px) {
  .nav-item {
    font-size: 1.2rem !important;
  }

  .header-text {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 934px) {
  .header-text {
    font-size: 2rem !important;
  }
}

@media (max-width: 455px) {
  .header-text {
    font-size: 1.6rem !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 363px) {
  .header-text {
    font-size: 1.4rem !important;
  }
}
