.news-container {
  min-height: 90vh;
  background: #D9B99B;
  position: relative;
  padding-bottom: 20rem;
}

.news-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5rem;
  align-items: center;

  .header-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    max-width: 60rem;

    .painike {
      border: 2px solid black;
      border-radius: 4px;
      min-height: 2.25rem;
      height: auto;
      background: #f1eae2;
      margin-left: 1rem;

      &:hover {
        background: black;
        color: white;
      }

      &:active {
        background: #daae7d;
      }
    }
  }

  .posts-container {
    display: flex;
    width: 100%;
    justify-content: center;

    .posts {
      //width: 70%;
      max-width: 60rem;

      .post-card {
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('../../assets/post-bg.svg');
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        box-shadow: 0 0 0 1px rgba(24, 60, 52, 0.08), 0 4px 12px 0 rgba(24, 60, 52, 0.5);

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 0 1px rgba(24, 60, 52, 0.08), 0 4px 12px 0 rgba(24, 60, 52, 0.75);
        }

        &:not(:first-child) {
          margin-top: 1rem;
        }

        .post-image img {
          object-fit: cover;
          max-width: 200px;
          height: 100%;
          border-radius: 4px 0 0 4px;
        }

        .post-content-container {
          padding: 2rem;
          display: flex;
          width: 100%;
          justify-content: space-between;
          flex-direction: column;
          position: relative;

          .post-main-info {
            display: flex;
            flex-direction: column;

            .post-date {
              margin-bottom: 0.5rem;
              font-size: 12px;
            }

            .post-header {
              margin-bottom: 0.5rem;
              font-size: 18px;
              font-weight: 600;
            }

            .post-preview {
              user-select: none;
            }
          }

          .post-meta {
            align-self: end;
            font-size: 14px;
          }
        }
      }
    }

    .post-list {
      display: flex;
      align-items: end;
      flex-direction: column;
      padding: 0 1rem;
      //width: 30%;
      width: 30rem;
      margin-top: -3.25rem;

      .post-header {
        font-family: "Lobster Two", sans-serif;
        font-size: 1.5rem;
      }

      .post-link {
        width: 100%;
        height: 4rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &:hover {
          cursor: pointer;
        }

        .mini-post-card {
          display: flex;
          align-items: center;
          margin-top: 1rem;
          //border: 2px solid #2a231d;
          height: 4rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-image: url('../../assets/post-bg.svg');
          box-shadow: 0 0 0 1px rgba(24, 60, 52, 0.08), 0 4px 12px 0 rgba(24, 60, 52, 0.5);
          border-radius: 4px;
          box-sizing: border-box;
          position: relative;

          .mini-post-meta {
            position: absolute;
            right: 0.25rem;
            top: 0;
            font-size: 0.75rem;
          }

          img {
            width: 4rem;
            height: calc(4rem - 4px);
            margin-right: 1rem;
            object-fit: cover;
            //border-right: 2px solid #2a231d;
            border-radius: 2px 0 0 2px;
          }

          .mini-post-date {
            font-size: 10px;
            position: absolute;
            right: 0.25rem;
            bottom: 0.25rem;
          }

          .mini-post-header {
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
          }


          &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 1px rgba(24, 60, 52, 0.08), 0 4px 12px 0 rgba(24, 60, 52, 0.75);
          }
        }
      }
    }
  }
}

.news-spacer {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  aspect-ratio: 960/300;
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url('../../assets/news-curve2.svg');
}

.dialog-main-container {
  display: flex;

  .dialog-image {
    width: 50%;
    max-height: 100%;
    overflow-y: hidden;
    margin-right: 2rem;
    border-radius: 4px;

    img {
      object-fit: cover;
      width: 100%;
      max-height: 500px;
    }
  }

  .dialog-text {
    width: 50%;
  }
}

@media only screen and (max-width: 934px) {
  .news-content {
    padding: 0 1.5rem;

    .posts-container {
      flex-direction: column;

      .posts {
        max-width: 100%;

        .post-card {
          width: 100%;
          display: flex;
          flex-direction: column;

          .post-image img {
            border-bottom: 2px solid #2a231d;
            border-right: 0;
            height: 10rem;
            width: 100%;
            max-width: none;
            object-fit: cover;
          }
        }
      }

      .post-list {
        width: 100%;
        align-items: center;
        margin-top: 1rem;

        .post-link {
          height: auto;

          .mini-post-card {
            height: auto;
            margin-top: 0.5rem;

            img {
              width: 3rem;
              height: 3rem;
              margin-right: 0.5rem;
            }

            .mini-post-header {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .header-container {
    margin-bottom: 1rem !important;
  }
  .post-card {
    flex-direction: column-reverse !important;

    .post-image {
      img {
        width: 100% !important;
        height: 10rem !important;
        border-radius: 0 0 4px 4px !important;
        border-bottom: 0 !important;
      }
    }

    .post-content-container {
      padding: 1rem !important;
    }
  }
}

@media only screen and (max-width: 476px) {
  .header-container {
    margin-bottom: 0.5rem !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1019px) {
  .header-container {
    margin-bottom: 1rem !important;
  }
  .post-card {
    flex-direction: row !important;

    .post-image {
      img {
        width: 200px !important;
        height: 100% !important;
        border-bottom: 0 !important;
      }
    }
  }
}

@media only screen and (min-width: 934px) {
  .news-content {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 934px) {
  .posts-container .post-list .post-link .mini-post-card {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1400px) {
  .post-link {
    .mini-post-card {
      width: 20rem !important;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .post-link {
    .mini-post-card {
      width: 15rem !important;
    }
  }
}
