.news-container {
  height: 90vh;
  background: #d9b99b;
  position: relative;
}

.news-spacer {
  position: absolute;
  bottom: 0;
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../assets/news-curve.svg');
}

